In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import plotly.express as px

In [2]:
from dotenv import dotenv_values

config=dotenv_values(".env")

In [3]:
username = config['USER']
password = config['PASS']
host = config['HOST']
port = config['PORT']

In [4]:
url = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/climate'

In [5]:
engine = create_engine(url, echo=False)

In [12]:
with engine.begin() as conn:
    result=conn.execute(""
    "SELECT * from countries;"     
    "")
    data = result.all()

df_countries=pd.DataFrame(data)
df_countries.head(20)

    index                 name alpha2 alpha3  code  lat       lon
0       0          Afghanistan     AF    AFG     4   33      65.0
1       1              Albania     AL    ALB     8   41      20.0
2       2              Algeria     DZ    DZA    12   28       3.0
3       3       American Samoa     AS    ASM    16  -14    -170.0
4       4              Andorra     AD    AND    20   43       1.6
5       5               Angola     AO    AGO    24  -13      18.5
6       6             Anguilla     AI    AIA   660   18  -63.1667
7       7           Antarctica     AQ    ATA    10  -90       0.0
8       8  Antigua and Barbuda     AG    ATG    28   17     -61.8
9       9            Argentina     AR    ARG    32  -34     -64.0
10     10              Armenia     AM    ARM    51   40      45.0
11     11                Aruba     AW    ABW   533   13  -69.9667
12     12            Australia     AU    AUS    36  -27     133.0
13     13              Austria     AT    AUT    40   47   13.3333
14     14           Azerbaijan     AZ    AZE    31   41      47.5
15     15              Bahamas     BS    BHS    44   24     -76.0
16     16              Bahrain     BH    BHR    48   26     50.55
17     17           Bangladesh     BD    BGD    50   24      90.0
18     18             Barbados     BB    BRB    52   13  -59.5333
19     19              Belarus     BY    BLR   112   53      28.0

In [13]:
with engine.begin() as conn:
    result=conn.execute(""
    "SELECT * from stations;"     
    "")
    data = result.all()

df_stations=pd.DataFrame(data)
df_stations.head(20)

,index,staid,staname,cn,lat,lon,hght,coordinates
0,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)"
1,1,2,FALUN,SE,+60:37:00,+015:37:00,160,"(60.61666666666667,15.616666666666667)"
2,2,3,STENSELE,SE,+65:04:00,+017:09:59,325,"(65.06666666666666,17.16638888888889)"
3,3,4,LINKOEPING,SE,+58:24:00,+015:31:59,93,"(58.4,15.533055555555556)"
4,4,5,LINKOEPING-MALMSLAETT,SE,+58:24:00,+015:31:59,93,"(58.4,15.533055555555556)"
5,5,6,KARLSTAD,SE,+59:21:00,+013:28:00,46,"(59.35,13.466666666666667)"
6,6,7,KARLSTAD-AIRPORT,SE,+59:26:40,+013:20:15,107,"(59.44444444444444,13.3375)"
7,7,8,OESTERSUND,SE,+63:10:59,+014:28:59,376,"(63.183055555555555,14.483055555555556)"
8,8,9,OESTERSUND-FROESOEN,SE,+63:10:59,+014:28:59,376,"(63.183055555555555,14.483055555555556)"
9,9,10,STOCKHOLM,SE,+59:21:00,+018:03:00,44,"(59.35,18.05)"
10,10,11,KREMSMUENSTER (TAWES),AT,+48:03:18,+014:07:51,382,"(48.055,14.130833333333333)"
11,11,12,GRAZ-UNIVERSITAET,AT,+47:04:40,+015:26:56,367,"(47.077777777777776,15.448888888888888)"
12,12,13,INNSBRUCK-UNIV,AT,+47:15:36,+011:23:03,578,"(47.26,11.384166666666667)"
13,13,14,SALZBURG-FLUGHAFEN,AT,+47:47:21,+013:00:29,430,"(47.78916666666667,13.008055555555556)"
14,14,15,SONNBLICK (TAWES),AT,+47:03:15,+012:57:27,3109,"(47.05416666666667,12.9575)"
15,15,16,WIEN-HOHE WARTE,AT,+48:14:54,+016:21:23,198,"(48.248333333333335,16.35638888888889)"
16,16,21,ZAGREB-GRIC,HR,+45:49:00,+015:58:41,156,"(45.81666666666667,15.978055555555555)"
17,17,22,AMIANDOS,CY,+34:55:59,+032:55:00,1360,"(34.933055555555555,32.916666666666664)"
18,18,23,LARNACA,CY,+34:52:59,+033:37:59,1,"(34.88305555555556,33.63305555555556)"
19,19,24,LIMASSOL,CY,+34:40:00,+033:02:59,5,"(34.666666666666664,33.04972222222222)"

In [20]:
df_countries.rename(columns={'lat': 'lat_country', 'lon': 'lon_country'},
                   
          inplace=True, errors='raise')

In [21]:
df_countries

     index               name  cn alpha3  code  lat_country lon_country
0        0        Afghanistan  AF    AFG     4           33        65.0
1        1            Albania  AL    ALB     8           41        20.0
2        2            Algeria  DZ    DZA    12           28         3.0
3        3     American Samoa  AS    ASM    16          -14      -170.0
4        4            Andorra  AD    AND    20           43         1.6
..     ...                ...  ..    ...   ...          ...         ...
238    238  Wallis and Futuna  WF    WLF   876          -13      -176.2
239    239     Western Sahara  EH    ESH   732           25       -13.0
240    240              Yemen  YE    YEM   887           15        48.0
241    241             Zambia  ZM    ZMB   894          -15        30.0
242    242           Zimbabwe  ZW    ZWE   716          -20        30.0

[243 rows x 7 columns]

In [23]:
countries_stations=pd.merge(df_stations,df_countries,how='inner',on='cn')
countries_stations.head(35)

,index_x,staid,staname,cn,lat,lon,hght,coordinates,index_y,name,alpha3,code,lat_country,lon_country
0,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0
1,1,2,FALUN,SE,+60:37:00,+015:37:00,160,"(60.61666666666667,15.616666666666667)",208,Sweden,SWE,752,62,15.0
2,2,3,STENSELE,SE,+65:04:00,+017:09:59,325,"(65.06666666666666,17.16638888888889)",208,Sweden,SWE,752,62,15.0
3,3,4,LINKOEPING,SE,+58:24:00,+015:31:59,93,"(58.4,15.533055555555556)",208,Sweden,SWE,752,62,15.0
4,4,5,LINKOEPING-MALMSLAETT,SE,+58:24:00,+015:31:59,93,"(58.4,15.533055555555556)",208,Sweden,SWE,752,62,15.0
5,5,6,KARLSTAD,SE,+59:21:00,+013:28:00,46,"(59.35,13.466666666666667)",208,Sweden,SWE,752,62,15.0
6,6,7,KARLSTAD-AIRPORT,SE,+59:26:40,+013:20:15,107,"(59.44444444444444,13.3375)",208,Sweden,SWE,752,62,15.0
7,7,8,OESTERSUND,SE,+63:10:59,+014:28:59,376,"(63.183055555555555,14.483055555555556)",208,Sweden,SWE,752,62,15.0
8,8,9,OESTERSUND-FROESOEN,SE,+63:10:59,+014:28:59,376,"(63.183055555555555,14.483055555555556)",208,Sweden,SWE,752,62,15.0
9,9,10,STOCKHOLM,SE,+59:21:00,+018:03:00,44,"(59.35,18.05)",208,Sweden,SWE,752,62,15.0
10,254,339,HAPARANDA,SE,+65:49:37,+024:08:38,5,"(65.82694444444445,24.14388888888889)",208,Sweden,SWE,752,62,15.0
11,255,341,MALUNG,SE,+60:40:53,+013:41:58,308,"(60.68138888888889,13.699444444444444)",208,Sweden,SWE,752,62,15.0
12,256,342,GOTSKA SANDON,SE,+58:24:00,+019:12:00,11,"(58.4,19.2)",208,Sweden,SWE,752,62,15.0
13,319,462,GOTEBORG A,SE,+57:42:57,+011:59:39,5,"(57.715833333333336,11.994166666666667)",208,Sweden,SWE,752,62,15.0
14,320,463,LUND,SE,+55:42:00,+013:12:00,73,"(55.7,13.2)",208,Sweden,SWE,752,62,15.0
15,322,465,VISBY,SE,+57:40:00,+018:19:59,42,"(57.666666666666664,18.333055555555557)",208,Sweden,SWE,752,62,15.0
16,323,466,HARNOSAND,SE,+62:37:59,+017:55:59,15,"(62.63305555555556,17.933055555555555)",208,Sweden,SWE,752,62,15.0
17,600,1409,KARESUANDO,SE,+68:26:31,+022:27:01,330,"(68.44194444444445,22.450277777777778)",208,Sweden,SWE,752,62,15.0
18,601,1410,JONKOPING,SE,+57:46:00,+014:10:59,98,"(57.766666666666666,14.183055555555555)",208,Sweden,SWE,752,62,15.0
19,602,1411,PAJALA,SE,+67:12:35,+023:23:34,168,"(67.20972222222223,23.392777777777777)",208,Sweden,SWE,752,62,15.0
20,603,1412,LULEA FLYGPLATS,SE,+65:32:35,+022:07:09,17,"(65.54305555555555,22.11916666666667)",208,Sweden,SWE,752,62,15.0
21,604,1413,HARSFJARDEN,SE,+59:04:12,+018:07:12,4,"(59.07,18.12)",208,Sweden,SWE,752,62,15.0
22,605,1414,SVENSKA HOGARNA,SE,+59:26:39,+019:30:20,12,"(59.44416666666667,19.505555555555556)",208,Sweden,SWE,752,62,15.0
23,606,1415,SAVE,SE,+57:46:48,+011:52:48,20,"(57.78,11.88)",208,Sweden,SWE,752,62,15.0
24,607,1416,SATENAS,SE,+58:26:08,+012:42:27,54,"(58.43555555555555,12.7075)",208,Sweden,SWE,752,62,15.0
25,608,1417,BARKAKRA,SE,+56:17:24,+012:51:00,20,"(56.29,12.85)",208,Sweden,SWE,752,62,15.0
26,609,1418,FALSTERBO,SE,+55:22:48,+012:49:12,5,"(55.38,12.82)",208,Sweden,SWE,752,62,15.0
27,610,1419,RONNEBY-BREDAKRA,SE,+56:15:36,+015:16:12,58,"(56.26,15.27)",208,Sweden,SWE,752,62,15.0
28,611,1420,HOBURG,SE,+56:55:12,+018:09:59,38,"(56.92,18.16638888888889)",208,Sweden,SWE,752,62,15.0
29,612,1421,KARLSHAMN,SE,+56:10:48,+014:51:00,50,"(56.18,14.85)",208,Sweden,SWE,752,62,15.0
30,613,1422,BORAS,SE,+57:45:36,+012:57:00,135,"(57.76,12.95)",208,Sweden,SWE,752,62,15.0
31,614,1423,OLANDS NORRA UDDE,SE,+57:22:12,+017:06:00,4,"(57.37,17.1)",208,Sweden,SWE,752,62,15.0
32,615,1424,LANDSORT,SE,+58:44:24,+017:52:12,18,"(58.74,17.87)",208,Sweden,SWE,752,62,15.0
33,616,1425,OREBRO 1,SE,+59:14:24,+015:17:24,35,"(59.24,15.29)",208,Sweden,SWE,752,62,15.0
34,617,1426,FORSE,SE,+63:08:24,+016:59:23,120,"(63.14,16.989722222222223)",208,Sweden,SWE,752,62,15.0

In [25]:
with engine.begin() as conn:
    result=conn.execute(""
    "SELECT * from yearly_mean_temperature;"     
    "")
    data = result.all()

df_yearly_mean=pd.DataFrame(data)
df_yearly_mean.head(20)

   yearly_mean_temperature  staid    year
0                    0E-20      1  1860.0
1                    0E-20      1  1862.0
2                    0E-20      1  1864.0
3                    0E-20      1  1865.0
4                    0E-20      1  1866.0
5                    0E-20      1  1867.0
6                    0E-20      1  1868.0
7                    0E-20      1  1870.0
8                    0E-20      1  1871.0
9                    0E-20      1  1872.0
10                   0E-20      1  1873.0
11                   0E-20      1  1874.0
12                   0E-20      1  1875.0
13                   0E-20      1  1876.0
14                   0E-20      1  1877.0
15                   0E-20      1  1878.0
16                   0E-20      1  1879.0
17                   0E-20      1  1880.0
18                   0E-20      1  1881.0
19     67.9095890410958904      1  1882.0

In [26]:
countries_stations_mean=pd.merge(countries_stations,df_yearly_mean,how='inner',on='staid')
countries_stations_mean.head(35)

,index_x,staid,staname,cn,lat,lon,hght,coordinates,index_y,name,alpha3,code,lat_country,lon_country,yearly_mean_temperature,year
0,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1860.0
1,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1862.0
2,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1864.0
3,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1865.0
4,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1866.0
5,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1867.0
6,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1868.0
7,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1870.0
8,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1871.0
9,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1872.0
10,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1873.0
11,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1874.0
12,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1875.0
13,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1876.0
14,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1877.0
15,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1878.0
16,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1879.0
17,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1880.0
18,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,0E-20,1881.0
19,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,67.9095890410958904,1882.0
20,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,60.6547945205479452,1883.0
21,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,63.3469945355191257,1884.0
22,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,54.2684931506849315,1885.0
23,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,59.4082191780821918,1886.0
24,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,58.9340659340659341,1887.0
25,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,46.5683060109289617,1888.0
26,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,61.1561643835616438,1889.0
27,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,63.4573002754820937,1890.0
28,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,62.3829201101928375,1891.0
29,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,54.6693989071038251,1892.0
30,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,57.5671232876712329,1893.0
31,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,71.7150684931506849,1894.0
32,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,60.6758241758241758,1895.0
33,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,68.5983606557377049,1896.0
34,0,1,VAEXJOE,SE,+56:52:00,+014:48:00,166,"(56.86666666666667,14.8)",208,Sweden,SWE,752,62,15.0,65.6712328767123288,1897.0

In [33]:

data_frame_1987=countries_stations_mean[countries_stations_mean['year']==1987.0]

fig = px.choropleth(
    data_frame=data_frame_1987,
    locations ='alpha3',
    projection = 'orthographic',
    color= 'staname',
    scope= 'world',
    locationmode= 'ISO-3')
    
    
fig.write_html('map.html')